@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');

html {
    font-family: 'Atkinson Hyperlegible', sans-serif;
	color: white;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

table {
	position: absolute;
	width: 100vw;
	left: 0;
	top: 0;
}

tbody {
	position: absolute;
	width: 100vw;
	left: 0;
	top: 0;
}

tr {
	display: block;
    margin: 0;
    height: 100vh;
	width: 100vw;
}

a {
	text-decoration: none;
}

#title {
    color: #FFFFFF;
    text-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    font-weight: 900;
    font-size: 108px;
    display: inline;
	margin-right: 20px;
}

#pronouns {
	display: inline;
	font-size: 36px;
	color: #006e2e;
	text-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}



#role {
	margin-bottom: 60px;
}


.front {
    padding-left: 20%;
    padding-top: 12%;
    background: #66b6fc; /* Old browsers */
    background: -moz-linear-gradient(top,  #66b6fc 0%, #b2e1ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #66b6fc 0%,#b2e1ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #66b6fc 0%,#b2e1ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66b6fc', endColorstr='#b2e1ff',GradientType=0 ); /* IE6-9 */
    background-size: cover;
}

#about-me {
	max-width: 1200px;
	margin: 0 auto;
	padding: 30px;
}

#about-me td {
	padding: 20px;
	background: rgb(69,72,77); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(69,72,77,0.75) 0%, rgba(0,0,0,0.75) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(69,72,77,0.75) 0%,rgba(0,0,0,0.75) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(69,72,77,0.75) 0%,rgba(0,0,0,0.75) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	border-radius: 20px;
	-webkit-box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.25), inset -2px -2px 2px 0px rgba(0,0,0,0.5); 
	box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,0.25), inset -2px -2px 2px 0px rgba(0,0,0,0.5);
}

#about-me h1 {
	color: transparent;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */

	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-background-clip: text;
	background-clip: text;
	
}



#about-button {
    background: #e6f0a3; /* Old browsers */
    background: -moz-linear-gradient(top,  #e6f0a3 0%, #d2e638 50%, #c3d825 50%, #dbf043 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e6f0a3 0%,#d2e638 50%,#c3d825 50%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e6f0a3 0%,#d2e638 50%,#c3d825 50%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 ); /* IE6-9 */
    padding: 10px 20px;
    border: 2px solid #c3d825;
    border-radius: 20px;
    font-size: 20px;
    color: #ffffff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); 
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
	display: block;
}

#about-button:active {
    background: #bfd255; /* Old browsers */
    background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #72aa00 51%, #9ecb2d 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#72aa00 51%,#9ecb2d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#9ecb2d',GradientType=0 ); /* IE6-9 */
    color: #dddddd;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 5px 0px rgba(0,0,0,0.5); 
    box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.3), 0px 0px 5px 0px rgba(0,0,0,0.5);
}